TESLAMATE_DB_HOST=teslamate-database-1
TESLAMATE_DB_PORT=5432
TESLAMATE_DB_NAME=teslamate
TESLAMATE_DB_USER=teslamate
TESLAMATE_DB_PASSWORD=change-me
TESLAMATE_DB_SSLMODE=disable
CORS_ALLOW_ORIGINS=*
